build/
coverage/
dist/
target/

DS_Store

# Java
*.class

# IntelliJ
*.iml
.idea/
*.ipr
*.iws

# VS Code
.vscode/
*.code-workspace

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyzw
*.egg-info/

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
