[Desktop Entry]
Name=Hyprland (UWSM)
Comment=Hyprland Wayland compositor managed by UWSM
Exec=uwsm start hyprland
Type=Application
DesktopNames=Hyprland
