# Linux system files
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Python
*.py[cod]
__pycache__/
*.so
.env
venv/
.env/

# Java
*.class
*.jar
*.war
target/
